.missions-page {
  table {
    font-family: "Roboto", sans-serif;
    border-collapse: collapse;
    width: 100%;
  }

  td,
  th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }

  tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  .mission {
    width: 20%;
  }

  .status {
    min-width: 30rem;
  }

  .mission-row {
    .status-actions {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 2rem;

      .member-badge {
        color: #fff;
        padding: 3px;
        border-radius: 2px;
        font-size: 1.4rem;
        line-height: 1;
        display: inline-block;
        min-width: max-content;
      }

      .active-member-badge {
        background-color: #18a2b8;
      }

      .inactive-member-badge {
        background-color: #333;
      }

      .mission-btn {
        cursor: pointer;
        padding: 0.6rem 1.2rem;
        border-radius: 4px;
        background-color: transparent;
        font-size: 1.6rem;
        font-family: inherit;
        min-width: max-content;
      }

      .join-mission-btn {
        border: solid 2px #333;
      }

      .leave-mission-btn {
        border: solid 2px red;
      }
    }
  }
}
