.profile-page {
  .profile-page-container {
    display: flex;
    gap: 2rem;

    & > * {
      flex: 1;
      border: 1px solid #ddd;
    }

    .title {
      margin: 1rem 0 1rem 2rem;
    }

    ul {
      list-style: none;
      li {
        padding: 1rem 2rem;
        border-top: 1px solid #ddd;
      }
    }
  }
}
