.rocket {
  display: flex;
  gap: 2rem;
  margin-bottom: 1rem;

  .rocket-img-wrapper {
    flex: 0 1 20%;

    .rocket-img {
      width: 100%;
    }
  }

  .rocket-details {
    flex: 2;

    .reserve-btn,
    .cancel-reservation-btn {
      padding: 1rem 2rem;
      cursor: pointer;
      border: none;
      color: #fff;
      font-size: 1.6rem;
      font-family: inherit;
      border-radius: 0.4rem;
      margin-top: 1rem;
    }

    .reserve-btn {
      background-color: #007bff;
      border: solid 1px #007bff;
    }

    .cancel-reservation-btn {
      background-color: #ddd;
      color: #585858;
      border: 1px solid #585858;
    }

    .reserved-badge {
      background-color: #007bff;
      font-size: 1.4rem;
      padding: 0.3rem;
      border-radius: 0.3rem;
      color: #fff;
      margin-right: 0.3rem;
    }
  }
}
